<h1>{{ title | uppercase }}</h1>
<hr />
<h2>String Interpolation and Piping</h2>
<h4>{{ ngTopics.interpolation | titlecase }}</h4>
<p>The paragraph above has been piped with angular's titlecase pipe.</p>
<hr />
<h2>Property Binding</h2>
<h4>{{ ngTopics.property | titlecase }}</h4>
<p>
  The paragraph above uses property binding to display the text on the screen.
</p>
<hr />
<h2>Event Binding</h2>
<button (click)="like()">like ❤️</button>
<p>{{ likeMsg }}</p>
<hr />
<h2>*ngIf Directives</h2>
<button (click)="subscribe()">subscribe</button>
<p *ngIf="count >= 1">
  You have clicked on the subcribe button {{ count }} times.
</p>
<hr />
<h2>*ngFor Directives</h2>
<p *ngFor="let animal of animals">Animal => {{ animal }}.</p>
<hr />
